#  _                 _           _
# | | ___   ___ __ _| |       __| |_ __  ___
# | |/ _ \ / __/ _` | |_____ / _` | '_ \/ __|
# | | (_) | (_| (_| | |_____| (_| | | | \__ \
# |_|\___/ \___\__,_|_|      \__,_|_| |_|___/
#
############################
# Format: 'IP	FQDN	SHORTHOSTNAME'
############################

10.0.5.7	larkspur.lol larkspur
10.0.5.11	k8smaster.lol	k8smaster
